<h1>Item: <%= @item_version.item.name %></h1>

<p>
  Size: <%= @item_version.size %>
</p>

<p>
  Color: <%= @item_version.color %>
</p>

<%= link_to "Back", item_item_versions_path(item_id: @item_version.item.id) %>