<%= form_with model: [:client, order] do |form| %>
  <p>
    <b>Item Version</b>
    <%= form.collection_select :item_version_id, ItemVersion.all, :id, :list_display_name %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%#
  https://guides.rubyonrails.org/action_controller_overview.html
  https://guides.rubyonrails.org/form_helpers.html
%>
