<p>Made orders: <%= @orders.length %> </p>

<% @orders.each do |order| %>
  <p>
    Order for item: <%= order.item_versions.list_display_name %> 
  </p>
<% end %>

<%# TODO: %>
<%# 
  1. Add go back button
  2. Add details view
  3. In Order rename column item_versions_id to item_version_id and fix everything.
  4. Go through documentation of Administrate: https://administrate-demo.herokuapp.com/getting_started
%>
