<p>Made orders: <%= @orders.length %> </p>

<% @orders.each do |order| %>
  <p>
    Order for item: <%= order.item_version.list_display_name %>
  </p>
  <p>
    Created: <%= order.created_at%>
  </p>
  <p>
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  </p>
<% end %>

<p>
<%= link_to "Back", client_path(params[:client_id])%>
</p>
